.projectHeading{
    text-align: center;
    margin: 2rem 0;
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
    
}

.projectContianer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin: auto;
    max-width: 1140px;
    padding: 0 1rem;


}
.projectCard{
    background: #0c0c0c;
    border-radius: 10px;
    padding: 1rem;
    transition: all 0.3s ease;
    line-height: 30px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    
}
.project-title{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #ffffff;
}
.project-details{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: #ffffff;
    line-height: 30px;

}
.projectCard img{
    /* width: 100%; */
    
    object-fit: cover;
    background-size: cover;
    transition: all 0.3s ease;
}
@media screen and (max-width: 740px){
    .projectContainer{
        max-width: 90%;
        margin: auto;
        grid-template-columns: repeat(4, 1fr);
    }
}