
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  *{
    font-family: JetBrains Mono,monospace;
    text-shadow: rgba(255, 215, 77, 0.6) -1px -1px 6px, rgba(124, 127, 255, 0.6) 1px 1px 6px;
    overflow-wrap: break-word;
}
  body{
    background: #000000;
  }
  h1,h4,p,a{
    color: #ffffff;
    text-decoration: none;
  }
  .btn {
    padding: 12px 32px;
    margin: 1rem 0.2rem;
    font-size: 1rem;
    text-transform: uppercase;
    background: rgb(248, 217, 15);
    color: #222;
    border: 1px solid #fff;
    font-weight: 600;
    cursor: pointer;
  }
  .btn:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    transition: 0.3s;
  }
  .btn-light {
    display: inline-block;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    background: rgb(248, 217, 15);
    color: #222;
    border: 1px solid #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .btn-light:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    transition: 0.3s;
  }
 